.mainbox{
    display: flex;
    justify-content: center;
}
body{
text-align: center;
}
.btn{
    height:200px ;
    width:200px ;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}
.one{
background-color:#f99b45 ;
}
.two{
background-color:#d95980 ;
}
.three{
background-color:#819ff9;
}
.four{
background-color: #63aac0;
}
.gameflash{
    background-color: whitesmoke;
}
.userflash{
    background-color: gray;
}

